[submodule "account-tools"]
	path = account-tools
	url = https://github.com/nilsjohnson/account-tools
[submodule "encryption-filter"]
	path = encryption-filter
	url = https://github.com/nilsjohnson/encryption-filter
